table {
    width: 100%;
  }

nav{
  display: flex;
  justify-content: right;
  padding-right: 200px;
}

.box-shadow-none{
  box-shadow: none;
}

.container-home-main{
  display: block;
}

.wrapper{
  overflow: auto;
  word-wrap: break-word;
}

.container-width{
  width: 500px;
}

.wrapper-about{
  max-width: 500px;
}